
html, 
body {
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 1024px) {
    html, 
    body {
    margin: 0;
    padding: 0;
    }
    
    header {
        margin: 0;
        padding: 10px; 
        text-align: center;
        width: 100%;    
    }
    
    nav {
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
        padding: 20px;
        padding-right: 100px;
        text-align: center;
        width: 100%;
    }
    
    nav ul {
        margin-left: -60px;
        text-align: center;
    }
    
    nav li { 
        border: 1px solid red;
        display: inline;
        font-size: 130%;
        font-weight: bold;
        margin: 10px;
        text-decoration: none; 
    }
    
    nav li a {
        color: rgb(255,255,255);
        padding: 18px;
    }
    
    .head-shot { 
        background: url('http://placehold.it/150x150');
        border: 2px solid green; 
        border-radius: 100px;
        height: 150px;
        margin: 50px auto;
        width: 150px;
    }
    
    h1 {
        padding: 30px;
    }
    
    .ab-container {
        background-color: rgb(45,137,239);
        color: rgb(255,255,255);
        text-align: center;
        width: 100%;
    }
    
    .ab-content {
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
    
    .ab-text-container {
        display: inline-block;
        text-align: center;
        width: 40%;
    }
    
    .ab-text {
        height: auto;
        padding: 40px;
        width: 400px;
    }
    
    
    .ab-main-container {
        display: inline-block;
        height: 300px;
        padding: 0;
        width: 300px;
    }
    
    .ab-main {
        height: 300px;
        margin: 10px auto;  
    }
    
    .pr-container {
        background-color: rgb(255,255,255);
        margin-right: 20px;
    }
    
    .pr-content {
        padding: 40px;
        text-align: center;
    }
    
    .pr-box {
        display: inline-block;
        margin: 12px;
        padding: 10px;
        width: 28%;
    }
    
    .peek {
        background: url('http://placehold.it/100x100');
        border-radius: 100px;
        height: 100px;
        margin: 0 auto;
        width: 100px;
    }
    
    .sk-container {
        background-color: rgb(45,137,239);
        color: rgb(255,255,255);
        height: auto;
    }
    
    .sk-content {
        border: 5px dotted orange;
        margin-left: auto;
        margin-right: auto;
    }
    
    .sk-content h3,
    .sk-content p {
        margin-right: 100px;
        text-align: center;
    }
    
    .cn-container {
        padding: 10px;
    }
    
    .cn-form {
        margin: 40px auto;
        padding: 20px 0px 20px 20px;
        width: 40%;
    }
    
    textarea {
        min-height: 100px;
        min-width: 400px;
    }
    
    footer {
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
        padding: 40px;
        padding-right: 100px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 421px) {
    html, body {
        margin: 0;
        padding: 0;
    }
        nav {
        width: 100%;
        padding-right: 100px;
        text-align: center;
        padding: 20px;
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
    }
    nav ul {
        text-align: center;
        margin-left: -60px;
    }
    nav li { 
        display: inline-block; 
        text-decoration: none; 
        margin: 10px;
        font-size: 130%;
        font-weight: bold;
        border: 1px solid red;
    }
        nav li a {
        color: rgb(255,255,255);
        padding: 18px;
    }
    header { 
        width: 100%;
        margin: 0;
        padding: 10px; 
        text-align: center;
    }
        .head-shot { 
        background: url('http://placehold.it/150x150');
        height: 150px;
        width: 150px;
        border: 2px solid green; 
        border-radius: 100px;
        margin: 50px auto;
    }
    h1 {
        padding: 30px;
    }
    .ab-container {
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: rgb(45,137,239);
        color: rgb(255,255,255);
        display: inline-block;
    }
    .ab-content {
        border: 1px solid red;
        margin: 0 auto;
        width: 90%;
    }
    .ab-text {
        /*width: 50%;*/
        padding: 0 30px;
        margin: auto;
        margin-top: 30px;
    }
     .pr-container {
        background-color: rgb(255,255,255);
        width: 100%;
        margin-right: 20px;
    }
    .pr-content {
        text-align: center;
        padding: 40px;
    }
    .pr-box {
        display: inline-block;
        padding: 10px;
        margin: 12px;
    }
    .peek {
        background: url('http://placehold.it/100x100');
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin: 0 auto;
    }
    .sk-container {
        width: 100%;
        padding: 40px;
        text-align: center;
        background-color: rgb(45,137,239);
        color: rgb(255,255,255);
        height: auto;
    }
    .sk-content {
        width: 70%;
        /*margin: 0 auto;*/
        margin-left: 0;
        padding: 0 40px;
    }
    .cn-container {
        padding: 10px;
    }
    .cn-form {
        width: 40%;
        margin: 40px auto;
        padding: 20px 0px 20px 20px;
    }
    textarea {
        min-height: 100px;
        min-width: 200px;
    }
    footer {
        width: 100%;
        text-align: center;
        padding: 40px;
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
        padding-right: 100px;
    }
}

@media screen and (max-width: 420px) {
    nav {
        width: 100%;
        text-align: center;
        padding: 20px;
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
    }
    nav ul {
        width: 80%;
        margin-left: 0;
    }
    nav li {
        display: inline-block;
        width: 60%;
        margin: 10px;
        padding: 10px
    }
    nav li a {
        color: rgb(255,255,255);
        padding: 18px;
    }
    header { 
        width: 100%;
        margin: 0;
        padding: 10px; 
        text-align: center;
    }
    .head-shot { 
        background: url('http://placehold.it/150x150');
        height: 150px;
        width: 150px;
        border: 2px solid green; 
        border-radius: 100px;
        margin: 50px auto;
    }
    h1 {
        padding: 30px;
    }
    .ab-container {
        width: 90%;
        padding: 20px;
        text-align: center;
        background-color: rgb(45,137,239);
        color: rgb(255,255,255);
        display: inline-block;
        
    }
    .ab-content {
        border: 1px solid red;
        margin: 0 auto;
    }
    .ab-text {
        width: 50%;
        padding: 0 30px;
        margin: auto;
        margin-top: 30px;
        /*border: 1px solid yellow;*/
    }
    .pr-container {
        background-color: rgb(255,255,255);
        width: 100%;
        margin-right: 20px;
    }
    .pr-content {
        text-align: center;
        padding: 40px;
    }
    .pr-box {
        display: inline-block;
        padding: 10px;
        margin: 12px;
    }
        .peek {
        background: url('http://placehold.it/100x100');
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin: 0 auto;
    }
    .sk-container {
        width: 100%;
        padding: 40px;
        text-align: center;
        background-color: rgb(45,137,239);
        color: rgb(255,255,255);
        height: auto;
    }
    .sk-content {
        width: 60%;
        margin: 0 auto;
        padding: 30px;
        margin-left: 0px;
    }
    .cn-container {
        padding: 10px;
    }
    .cn-form {
        width: 90%;
        padding: 10px 0px 10px 10px;
        margin-left: 0;
    }
    textarea {
        min-height: 100px;
        min-width: 200px;
    }
    footer {
        width: 100%;
        text-align: center;
        padding: 40px;
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
    }
}